/.venv/
/logs/*.log
*.pyc
__pycache__/
/.idea/
/.vscode/
/documents
*.json
**/__pycache__/**
**/__pycache__/**/**
**/__pycache__/**/**/**
**/__pycache__/**/**/**/**
**/__pycache__/**/**/**/**/**
**/__pycache__/**/**/**/**/**/**
**/__pycache__/**/**/**/**/**/**/**
**/__pycache__/**/**/**/**/**/**/**/**
**/__pycache__/**/**/**/**/**/**/**/**/**
